$width-small: 32em;
$width-medium: 48em;
$width-large: 64em;
$width-extra: 80em;

/* Coolors Exported Palette - coolors.co/1c2321-3264A1-5e6572-a9b4c2-eef1ef */
$color1: #1c2321;
$color2: #3264A1;
$color3: #5e6572;
$color4: #a9b4c2;
$color5: #eef1ef;

$colorDanger: #e80000;
$colorGreen:  #34ba20;

/* Nice(06) palette - https://coolors.co/3264a1-3975bd-e4c65e-d36134-9fab77 */


$miroPaper: #eee7cd;
$miroBlack: #000000;
$miroRed:   #dd2912;
$miroBlue:  #018ac0;

.mr {color:$miroRed};
.mb {color:$miroBlue};
