@use "sass:math";

// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  display: none
}

.without-accept-youtube {
  border: 1px solid $color1;
  background-color: $color5;
  border-radius: 0.333em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 100%
  }
}

.accept-youtube {
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
    }

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .without-accept-youtube {
    display: none
  }

  .embed-responsive-21by9 {
    &::before {
      padding-top: percentage( math.div(9,21) );
    }
  }

  .embed-responsive-16by9 {
    &::before {
      padding-top: percentage( math.div(9,16) );
    }
  }

  .embed-responsive-4by3 {
    &::before {
      padding-top: percentage( math.div(3,4) );
    }
  }

  .embed-responsive-1by1 {
    &::before {
      padding-top: percentage( math.div(1,1) );
    }
  }
}
