.form-line {
  display: flex;
  flex-direction: row;
  min-height: 2rem;

  .form-line-label {
    flex: 1
  }

  .form-line-content {
    flex: 4;
    display:flex;
    flex-direction: row;
    padding: 0.25em 0em 0.25em 0em;

    label {
      margin-right: 0.25em
    }

    input {
      margin-right: 1em;
    }

    .wide {
      flex-grow: 100
    }
  }
}

.form-range {
  display:flex;
  flex-direction: row;
  width:100%;
  height:3rem;

  .range-slider{
    flex:5;
    input {width:100%}
  }

  .range-value {
    flex:1;
    padding-left: 1em
  }

}
