.area-info {
  width:100%;

  background: #f8f8f8;
  color:#444;

  border: #aaa 0.5px solid;
  border-radius: 0.25em;
  padding: 0.25em;
}


.map-button, .map-button-load {
  margin: 0.5em 1em 0.5em 0;
  padding: 0.66em;

  border-radius: 0.66em;
  border: 1px solid #777;

  font: 400 13.3333px Arial;
  font-size: 0.9em;

  background-color: #f0f0f0;

  cursor: pointer
}

.map-button-load {

}
